body {
  background-color: 	moccasin;
}

h1 {
  color: maroon;
  text-align: center;
  font-family:;
}

h2 {
  color: crimson;
  text-align: left;
}

p {
  font-size: 15px;
}

crum {
  color:firebrick;
  font-size: 25px;
}

apple {
  color:darkred;
font-size: 25px;
  
}
