body {
  background-color: 	moccasin;
}

h1 {
  color: maroon;
  text-align: center;
}

h2 {
  color: crimson;
  text-align: left;
}

p {
  font-size: 15px;
}

h2.crum {
  color:firebrick;
 font-size: 24px;
 border-style:dashed;
}

h2.apple {
  color:darkred;
  font-size: 26px;
  border-style:dotted;
}

a:link{
  color: deeppink;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color:blue;
  text-decoration:underline;
}

a:visited{
  color:black;
}
